@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
 .page-item{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
 }
 .pagination-page-nav{
     border: 1px;
     border-radius: 1rem;
     background-color: #fb923c;
     padding: 1rem;
     --tw-text-opacity: 1;
     color:rgb(156 163 175 / var(--tw-text-opacity));
     font-weight: 500;
     font-size: 0.875rem;
     line-height: 1.25rem;
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
     padding-left: 1rem;
     padding-right: 1rem;
     border-width: 1px;
 }
 .pagination-page-nav:hover{
    background-color: #eba063d4;
 }
 .active{
    background-color: rgb(214, 190, 133);
    color: white;
 }
